In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [5]:
df.TotalCharges.dtype

dtype('float64')

In [6]:
df['TotalCharges'] = df['TotalCharges'].fillna(0)

In [7]:
df['TotalCharges'].isnull().sum()

0

In [8]:
df['Churn'] = df['Churn'].map({
    'No': 0,
    'Yes': 1
})

In [9]:
categorical = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 
               'InternetService','OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 
               'StreamingTV', 'StreamingMovies','Contract', 'PaperlessBilling', 'PaymentMethod']

In [10]:
numerical = ['tenure', 'MonthlyCharges', 'TotalCharges']

In [11]:
scaler = StandardScaler()

In [12]:
scaled_num = scaler.fit_transform(df[numerical])

In [13]:
num_feat = pd.DataFrame(scaled_num, columns=numerical)

In [14]:
encoder = OneHotEncoder(sparse_output=False)

In [15]:
coded_cat = encoder.fit_transform(df[categorical])

In [16]:
cat_feat = pd.DataFrame(coded_cat, columns=categorical)

ValueError: Shape of passed values is (7043, 43), indices imply (7043, 16)

In [9]:
X = df.drop('Churn', axis=1)
y = df['Churn']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [12]:
numerical = ['tenure', 'MonthlyCharges', 'TotalCharges']

In [13]:
scaler = StandardScaler()

In [16]:
scaled_train = scaler.fit_transform(X_train[numerical])
scaled_test = scaler.transform(X_test[numerical])

In [22]:
scaled_train_df = pd.DataFrame(scaled_train, columns=numerical)
scaled_test_df = pd.DataFrame(scaled_test, columns=numerical)

In [25]:
norm = pd.concat([scaled_train_df, scaled_test_df], names=numerical, ignore_index=True)
norm.shape

(7043, 3)

In [26]:
encoder = OneHotEncoder(sparse_output=False)

In [13]:
coded_train = encoder.fit_transform(df[categorical])
coded_test = encoder.fit_transform()

In [18]:
df.shape

(7043, 15277)

In [18]:
X = df.drop('Churn', axis=1)
y = df['Churn']

> YOUR QUESTION STATEMENT WASN'T CLEAR, I HAD TO GUESS ANSWERS.